<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511299424573-jp1072hfti6slcpmrh2sv1re1gekqid4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511299424573-jp1072hfti6slcpmrh2sv1re1gekqid4</string>
	<key>API_KEY</key>
	<string>AIzaSyCpbdyNLLbEa3-LDQHY77MqcRY262UNaB4</string>
	<key>GCM_SENDER_ID</key>
	<string>511299424573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skyLuxury</string>
	<key>PROJECT_ID</key>
	<string>skyluxury-aabfc</string>
	<key>STORAGE_BUCKET</key>
	<string>skyluxury-aabfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511299424573:ios:17489f6e338aa33b75f554</string>
</dict>
</plist>